.Supreme-Container-Leader{
    display: flex;
    justify-content: center;
}


.Container{
    height: 800px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.1);
    width: 600px;
    -webkit-box-shadow: 6px 7px 5px 4px rgba(0,0,0,1);
    -moz-box-shadow: 6px 7px 5px 4px rgba(0,0,0,1);
    box-shadow: 6px 7px 5px 4px rgba(0,0,0,1);
}

.Title{
    
    margin-bottom: 5px;
    font-family: roboto;
    text-align: center;

}

.button{
    color: black;
    
}

.Form{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 200px;

}

.Text{
    padding: 5px;
}

.division{
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}

.Butao{
    margin-top: 5px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
}

.Categories{
    height: 350px;
}

.Categories-container{
    width: 500px;
}

.cat-title{
    font-family: roboto;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;
    border-top: 2px solid rgba(0, 0, 0, 0.192);
    padding: 10px;
}

.Text{
    
    font-family: roboto;
    font-size: 17px;
}

.input{
    width: 250px;
    padding: 8px 8px;
    border-radius: 2px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid gray;
    background-color: rgba(128, 128, 128, 0.472);
    color: white;
    transition: all 0.4s;
}

.input:focus{
    background-color: rgba(128, 128, 128, 0.3);
    width: 350px;
}





#textarea{
    margin-bottom: 20px;
    padding: 8px 8px;
    width: 250px;
    height: 70px;
}

#textarea:focus{
    width: 350px;
}

.centered{
    display: flex;
    justify-content: center;
}


@media (max-width: 800px) {
    .Container{
        width: 400px;

    }
    
    .Form{
        width: 80%; 
    }

    .input{
        width: 250px;
    }

    #textarea{
        margin-bottom: 20px;
        padding: 8px 8px;
        width: 250px;
        height: 70px;
    }

    .input:focus{
        background-color: rgba(128, 128, 128, 0.3);
        width: 200px;
    }

    #textarea:focus{
        width: 200px;
    }
    
    .Supreme-Container-Leader{
        width: 80%;
    }

    .Categories-container{
        width: 200px;
    }
    
    
  }
  
